AWD.Library/.vs/
AWD.Library/packages/
AWD.Library/AWD.Library.Common/obj/Debug/
AWD.Library/AWD.Library.Console/bin/Debug/
AWD.Library/AWD.Core/obj/Debug/
AWD.Library/AWD.Core/bin/Debug/
AWD.Library/AWD.Library.Common/bin/Debug/
AWD.Library/AWD.Library.Console/obj/Debug/
AWD.Library/AW.Library.Models/obj/Debug/
AWD.Library/AW.Library.Models/bin/Debug/
AWD.Library/AWD.Library/bin/Debug/
AWD.Library/AWD.Library/obj/Debug/
AWD.Library/AWD.Library/project.lock.json
